@page "/employee"
<h3>EmployeeComponent</h3>
<PageTitle>Product</PageTitle>
   
    <div class="col-12">
        <div class="row">
            <div class="card">  
                <div class="card-header">
                <h4>Product Details</h4>
                </div>
                <div class="card-body">
                    <div class="form-control">
                        <label>
                        Product ID : @obj.Id
                        </label>
                    </div>

            </div>

        </div>
    </div>
    
    </div>
@code {
   
}
